{% extends "layout.html" %}

{% block title %}
    Berichtsheftgenerator - Dashboard
{% endblock %}

{% block main %}

{% if data %}
<table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Beschreibung</th>
        <th scope="col">Standortdaten</th>
        <th scope="col">Homeofficedaten</th>
        <th scope="col">Gesamt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> Tage am</th>
        <td>{{data.Standort}}</td>
        <td>{{data.Homeoffice}}</td>
        <td>{{data.Tagegesamt}} insgesamt</td>
        
      </tr>
      <tr>
        <th scope="row"> % relativ bis heute</th>
        <td>{{data.StandortProDone}}</td>
        <td>{{data.HomeofficeProDone}}</td>
        <td>{{data.Tagevorrueber}} absolviert!</td>
      </tr>
      <tr>
        <th scope="row"> % absolviert fuer die gesamte Kurslaufzeit</th>
        <td>{{data.StandortProTotal}}</td>
        <td>{{data.HomeofficeProTotal}}</td>
        <td>{{data.Tageverbleibend}} noch zu meistern!</td>
      </tr>
      <tr>
        <th scope="row"> Aufteilung der Tage fuer 51/49 Regel</th>
        <td>{{data.StandortNeed}}</td>
        <td>{{data.HomeofficeNeed}}</td>
        <td>Wuhu</td>
      </tr>
    </tbody>
  </table>
{% endif %}


{% endblock %}

{% block footer %}  {{version}}  {% endblock %}