{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<h3> Login mit GFN Moodle Daten </h3><br>

    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="E-Mail" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Passwort" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
{% endblock %}

{% block footer %}  {{version}}  {% endblock %}