HOSTIP='127.0.0.1'
PORT=5200

LOCATION=/app/data/

OPENAI_API_KEY=YOURKEY

MOODLE_USER=STANDARD_MOODLE_USER
MOODLE_PW=MOODLE_PASSWORD

# Maybe later used for docker-compose
# #Global
# TZ=Europe/Amsterdam
# PUID=1000
# PGID=1000
# USVC=1000
# GSVC=1000

# #Directories
# APPDATA=/opt/dockerdata/

# #PostgreSQL data
# POSTGRES_USER=useyourown
# POSTGRES_PASSWORD=useyourown
